<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Gestion de post-its">
    <title>Visualiser Post-its | Accueil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="RUELE Amaury">
    <meta name="author" content="CASSACA Kilian">
    <meta name="author" content="RABHI Sofiene">
    <meta name="author" content="Ridouane OUSMANE DOUDOU">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="public/style.css">
</head>

<body>
    <header>
        <nav id="navigation">
            <ul>
                <li><a href="index.php"><i class="fa-solid fa-home"></i> Accueil</a></li>
                <li>
                    <a href="index.php?action=deconnect" class="logout-button">
                        D&eacute;connexion
                        <i class="fa-solid fa-right-from-bracket"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="contents">

    </div>
    <link rel="stylesheet" href="public/styles.css">
    <div class="container">
        <h1>Modifier le Post-it</h1>
        <form id="form-postit" action="index.php?action=mod-valid-postit" method="POST">
            <div class="form-group">
                <label for="titre">Titre :</label><br>
                <input type="text" id="titre" name="titre" value="Deuxieme" required><br>
            </div>
            <div class="form-group">
                <label for="contenu">Contenu :</label><br>
                <textarea id="contenu" name="contenu" required>Test</textarea><br>
            </div>
            <div class="form-group">
                <label for="searchUser">Partager avec :</label><br>
                <input type="text" id="searchUser" placeholder="Rechercher un utilisateur">
                <ul id="listutilisateurs" class="list-utilisateurs">
                    <li><input type='checkbox' name='utilisateurs[]' value='2' checked>Amaury RUELLE</li>
                    <li><input type='checkbox' name='utilisateurs[]' value='3' checked>Walid BELGUENBOUR</li>
                    <li><input type='checkbox' name='utilisateurs[]' value='4'>Killian CASSACA</li>
                    <li><input type='checkbox' name='utilisateurs[]' value='5'>Edouard LOUAMOU</li>
                    <li><input type='checkbox' name='utilisateurs[]' value='6'>Sofiene RABHI</li>
                </ul>
            </div>
            <input type="hidden" name="id_postit" value="2">
            <div class="form-group">
                <input type="submit" value="Modifier">
                <a href="#" onclick="goBack()" class="button-vis-ret">Retour</a>
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="public/script-recherche.js"></script>
    <footer>
        <!-- BEGIN: Footer -->
        <!-- END: Footer -->
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
        integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
</body>

</html>