body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('UPSUD.jpg');
    background-size: cover;
    background-position: center;
    opacity: 1;
    z-index: -1;
}

#acceuil {
    text-align: center;
    font-weight: bold; 
    font-size: 40px; 
}


.postits-container {
    display: flex;
    justify-content: space-around; /* Ajustez l'alignement horizontal selon vos préférences */
    margin-top: 20px;
}

.postits-section {
    flex: 1;
    margin: 0 10px;
}

.postit-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.postit {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.postit h3 {
    margin-bottom: 5px;
}

.postit p {
    font-size: 14px;
    color: #666;
    margin: 0;
    max-height: 100px; 
    overflow-y: auto; 
}


.postit-title {
    margin-bottom: 6px;
    color: black;
    display: block;
    text-align: center; 
    font-weight: bold; 
    font-size: 18px; 
    text-decoration: none; 
}
form {
    display: flex;
    flex-direction: column;
}

.connexion-form, .inscription-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 600px; /* Ajoutez une hauteur maximale */
    overflow-y: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.connexion-form h1, .inscription-form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.connexion-form form label, .inscription-form form label {
    display: block;
    margin-bottom: 10px;
}

.connexion-form form input, .inscription-form form input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 90%;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.connexion-form form label,.inscription-form form label {
    padding-left: 16px;
    opacity: 0.75;
}
.connexion-form form input[type="submit"], .inscription-form form input[type="submit"] {
    width: 60%;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

.connexion-form form input[type="submit"]:hover, .inscription-form form input[type="submit"]:hover {
    background-color: #3e8e41;
}
.error {
    color: #ff0000; /* Couleur du texte rouge */
    background-color: #ffe6e6; /* Couleur de fond rouge f8d7da */
    padding: 5px; /* Ajoutez un peu de marge intérieure pour un meilleur aspect */
    border-radius: 5px; /* Coins arrondis */
    margin-top: 5px; /* Ajoutez une petite marge en haut du message d'erreur */
}
.success {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
/* Ajustement Nav Bar */
.logout-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

header {
    background-color: #63003C;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 99%;
    height: 40px;
}

#contents {
    padding-top: 70px;
    background-color: #63003C;
}

.marque {
    background-color: #63003C;
    color: #fff;
}

#navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#navigation li {
    display: inline-block;
    margin-right: 20px;
}

#navigation a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

/* Fin Ajustement Nav Bar */


.modal {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    overflow-y: auto; /* Activer le défilement vertical si nécessaire */
    max-height: 300px; /* Limite de la hauteur de la modal pour éviter un défilement excessif */
}

#modal-postit-contenu {
    max-height: 200px; /* Limite de la hauteur du contenu pour éviter un défilement excessif */
    overflow-y: auto; /* Activer le défilement vertical si nécessaire */
}


.container {
    background-color: #fff;
    margin: 0 auto;
    padding: 20px;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* submit */
input[type="submit"] {
    background-color: #63003C;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

